@using MVCDemo.Helper;
@{
    Layout = null;
}

@helper OrderList(string[] words)
{
    <h2>This Order List using helper class</h2>

    <ol>
        @foreach(string word in words)
        {
            <li>@word</li>
        }
    </ol>
}   

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @OrderList(new string[] { "Delhi", "Bangalore", "Mumbai", "Chennai" })
    </div>

    <div>
        @Html.orderedList(new string[] { "Delhi", "Bangalore", "Mumbai", "Chennai" })
    </div>

    <div>
        @CustomHelper.orderedList(new string[] { "Delhi", "Bangalore", "Mumbai", "Chennai" })
    </div>

</body>
</html>
